<form name="LoginForm" action="{% url 'account_set_password' %}" method="POST">
    {% csrf_token %}
        <!-- Password input -->
      <div class="form-floating mb-2">
        <input type="password" id="password1Input" class="form-control" placeholder="password" name="password1" required/>
        <label for="password1Input">Password</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" id="password2Input" class="form-control" placeholder="password" name="password2" required/>
        <label for="password2Input">Repeat Password</label>
      </div>
  <!-- Submit button -->
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success btn-block">Set Password</button>
    </div>
</form>
