<!-- Modal -->
<div class="modal fade" id="doiModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Publication(s) by DOI</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="{% url 'add_publication_by_doi' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'publication_list' mapping_id=mapping.id list_id=publication_list.id %}" />
            <input type="hidden" name="list_id" value="{{publication_list.id}}">
            <div class="modal-body">
                <label for="doi" class="form-label">Add DOI(s) here, separate them by a coma, space or new line</label>
                <textarea name="doi" id="doi" placeholder="DOI" class="form-control"  required  autocomplete="off"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add Publication</button>
            </div>
        </form>
    </div>
  </div>
</div>
