{% load static %}
<div class="container">
        {% for publication in page_obj %}
            <div class="row p-1">
                <div class="row">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="selected_publications"
                             id="selectPublication{{ publication.id }}" value="{{ publication.id }}">
                      <h5> <label class="form-check-label" for="selectPublication{{ publication.id }}">
                          {{ publication.title }} <b> ({{ publication.year }}) </b>  </label></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                       <i>{{ publication.event.name }}  </i>
                        <a data-bs-toggle="collapse" href="#collapse{{publication.id}}" role="button" aria-expanded="false" aria-controls="collapse{{publication.id}}">
                        See more
                      </a>

                    </div>
                    <div class="collapse" id="collapse{{publication.id}}">
                      <div class="card card-body">
                        <div class="row">
                            <div class="col">
                                {% for author in publication.authors.all %}
                                    <span class="badge bg-dark" > {{ author.first_name }} {{ author.last_name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                      <div class="row p-1">
                          <div class="col">
                              {% for keyword in publication.author_keywoards.all %}
                                    <span class="badge bg-secondary" > {{ keyword.name }}</span>
                              {% endfor %}
                              {% for keyword in publication.index_keywords.all %}
                                    <span class="badge bg-secondary" > {{  keyword.name }} </span>
                              {% endfor %}
                          </div>
                      </div>
                      <div class="row p-1">
                          <div class="col">
                              {% if  publication.doi %}
                                 <span class="badge text-bg-light">
                                     <a href="https://doi.org/{{publication.doi}}" target="_blank">  {{ publication.doi }}
                                     </a>
                                 </span>
                                {% endif %}
                                {% if  publication.url %}
                                 <span class="badge text-bg-light">
                                     <a href="{{publication.url}}" target="_blank">  {{ publication.url }}
                                     </a>
                                 </span>
                                {% endif %}
                          </div>
                          <br>
                          <div class="col p-1">
                              {% if publication.event.type %}
                                <span class="badge text-bg-light">{{ publication.event.type }}  </span>
                              {% endif %}

                              {% if publication.event.acronym %}
                                <span class="badge text-bg-light">{{ publication.event.acronym }} </span>
                              {% endif %}

                              {% if publication.event.volume %}
                                <span class="badge text-bg-light">volume {{ publication.event.volume }}  </span>
                              {% endif %}

                              {% if publication.event.publisher %}
                                <span class="badge text-bg-light">published by {{ publication.event.publisher}}  </span>
                              {% endif %}

                              {% if publication.event.number %}
                                <span class="badge text-bg-light">number/issue  {{ publication.event.number }}  </span>
                              {% endif %}
                          </div>
                         {% if publication.abstract %}
                            <span > <b> Abstract</b> {{ publication.abstract }}</span>
                         {% endif %}
                      </div>
                      </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor%}
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link"  href="?page=1{{search_text}}">&laquo; First </a>
            </li>
        {% if page_obj.has_previous %}
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{search_text}}">Previous</a>
        </li>
        {%else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {%endif%}
        {% for pg in prev_pages %}
            <li class="page-item" aria-current="page">
                <a class="page-link" href="?page={{pg}}{{search_text}}"> {{pg}}</a>
            </li>
        {% endfor %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
        </li>
        {% for pg in next_pages %}
            <li class="page-item" aria-current="page">
                <a class="page-link" href="?page={{pg}}{{search_text}}"> {{pg}}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{{search_text}}">Next</a>
        </li>
        {%else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
        {%endif%}   
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{{search_text}}">Last &raquo;</a>
        </li>
        </ul>
    </nav>
</div>
