{% extends "dashboard/base.html" %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                <div class="position-fixed top-50 start-10 translate-middle">
                    <button class="btn btn-primary btn-lg m-5" style="transform: rotate(90deg);" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                    Navigate Mappings</button>
                </div>
            </div>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Manage the current Mapping</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                 <div class="row shadow-sm p-3 mb-3 bg-body rounded">
                        {% include "mapping/mapping_list/mapping_selector.html" %}
                      </div>

                      <div class="row shadow-sm p-3 mb-3 bg-body rounded">
                          {% include "mapping/mapping_list/list_selector.html" %}
                      </div>
                    {% if mapping.leader == user %}
                        <div class="row shadow-sm p-3 mb-3 bg-body rounded">
                             {% include "mapping/mapping_list/dangerous.html" %}
                        </div>
                    {% endif %}
              </div>
            </div>


            <div class="col-11">
            <div class="row shadow-sm p-3 mb-3 bg-body rounded">
                <h4 class="text-center"> Mapping of '<b>{{ mapping.name }}</b>'</h4>
                <i class="text-secondary text-center">{{ mapping.description }} the reviewers of this mapping:
                    {% for reviewer in mapping.reviewers.all %}
                        {% if reviewer == mapping.leader %}
                        <b> {{ reviewer }} </b>
                        {% else %}
                        {{ reviewer }}
                        {% endif %}
                        {% if not forloop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </i>
                <h5 > Add publications to list: <b> '{{ publication_list.name }}'</b> by </h5>
                {% if  publication_list.user %}
                    <i class="text-secondary"> This list is created by {{ publication_list.user }}</i>
                {% endif %}
                    <div class="d-flex justify-content-center">
                        <div class="btn-group" role="group" aria-label="Add Publication example">

                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#doiModal">
                                Entering DOI</button>
                            {% include "publication/modals/doi.html" %}

                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#bibTextModal">
                                Uploading .bib

                            </button>
                            {% include "publication/modals/bib_text.html" %}

                            <form action="{% url 'dashboard_mapping_list' mapping_id=mapping.id list_id=publication_list.id %}" name="import_form" method="POST">
                                {% csrf_token %}
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Import from other Lists/Mappings</button>
                                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                                    <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Import from Publication Lists</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        {% include "mapping/forms/select.html" %}
                                        <button type="submit" class="btn btn-success" name="import_from_publication_lists" id="importFromLists" disabled> Import From Selected Lists </button>
                                    </div>
                                </div>
                            </form>


                            <a class="btn btn-outline-primary" href="{% url 'add_publication_by_web' list_id=publication_list.id %}">Searching the Web</a>
                        </div>
                    </div>
            </div>
            <script>
                 function checkAtLeastOneList(){
                    let all_lists = document.getElementsByName("selected_lists");
                    for (let i =0 ; i < all_lists.length; i++) {
                        if (all_lists[i].checked) {
                            document.getElementById("importFromLists").removeAttribute("disabled");
                            return;
                        }
                    }
                    document.getElementById("importFromLists").setAttribute('disabled', '');
                }

                document.getElementsByName("selected_lists").forEach( function (element) {
                    element.addEventListener("change", checkAtLeastOneList);
                    if (element.value == {{ publication_list.id }}) {
                        element.setAttribute('disabled', '');
                    }
                });
            </script>
                <hr>
                {% if publication_list.publications.all %}
                    <div class="row">
                        <div class="col-12">
                            <h5> Found {{original_size}} Publications in <b> {{ publication_list.name }} </b>
                                {% if filtered_size %}
                                    , Filtered: {{ filtered_size }}
                                {% endif %}
                            </h5>
                        </div>
                        <div class="col-12">
                            {% include "mapping/forms/filter.html" %}
                        </div>
                        <hr>
                        <div class="col-12">
                            <form action="{% url 'dashboard_mapping_list' mapping_id=mapping.id list_id=publication_list.id %}" name="manage_publications" method="POST">
                                {% csrf_token %}
                                    {% include "publication/select.html" %}
                                <hr>
                                <div class="row">
                                    {% include "publication/publications.html" %}
                                </div>
                            </form>
                        </div>
                     <script>
                        function checkAtLeastOnePaper(){
                            let all_checkboxes = document.getElementsByName("selected_publications");
                            for (let i =0 ; i < all_checkboxes.length; i++) {
                                if (all_checkboxes[i].checked) {
                                    document.getElementById("deleteFromCurrentList").removeAttribute("disabled");
                                    document.getElementById("copyToOtherList").removeAttribute("disabled");
                                    document.getElementById("moveToOtherList").removeAttribute("disabled");
                                    return
                                }
                            }
                            document.getElementById("deleteFromCurrentList").setAttribute('disabled', '');
                            document.getElementById("copyToOtherList").setAttribute('disabled', '');
                            document.getElementById("moveToOtherList").setAttribute('disabled', '');
                        }


                        document.getElementById("selectAllPublications").addEventListener("change",function (){
                            document.getElementsByName("selected_publications").forEach(function(element){
                              element.checked = document.getElementById("selectAllPublications").checked;
                              checkAtLeastOnePaper();
                            })});

                        document.getElementsByName("selected_publications").forEach( function (element){
                            element.addEventListener("change",checkAtLeastOnePaper)});

                    </script>
                    </div>
                    {% else %}
                    <h5> The <b> '{{ publication_list.name }}'</b> list is empty. </h5>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}