<div class="container p-1">
    <h5> Create a <i>new</i> Mapping</h5>
    <p> You can simply use the form to create a mapping, and invite your colleague to be your co-reviewers</p>
    {% include "mapping/forms/new.html" %}
    <hr>
    <h5> Join a Mapping</h5>
    <p> You can also join a mapping that has been created already.
        You need a secret key which can be found on the mapping page of leader (your colleague who created the mapping)</p>
    {% include "mapping/forms/join.html" %}

</div>
