<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row p-3">
                <h3 class="text-center"> Login </h3>
                <div class="container">
                    {% if next %}
                        <input type="hidden" name="next" value="{{next}}" />
                    {% endif %}
                    <form name="LoginForm" action="{% url 'account_login' %}" method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="userInput" class="col-sm-4  col-form-label">Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="login" id="userInput" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                                <label for="passwordInput" class="col-sm-4 col-form-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="password" id="passwordInput" autocomplete="current-password" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                                <label for="keepMeLoggedIn" class="col-sm-4 col-form-label">Keep me logged in</label>
                            <div class="col-sm-8">
                                <input id="keepMeLoggedIn" type="checkbox" name="remember">
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-success">Sign in</button>
                        </div>

                    </form>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <form action="{% url 'github_login' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success" > Sign in with Github </button>
                            </form>
                        </div>

                </div>
            </div>
            <div class="row p-4" >
                {% if form.errors %}
                        {% for error, code in form.errors.items %}
                            <div class="text-danger">
                                {{ code }}
                            </div>
                        {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="col-6">
            <div class="row  bg-primary bg-opacity-25 rounded-3 m-3">
                <h3 class="text-center"> No Account? Sign Up </h3>
                <div class="container">
                    {% if next %}
                        <input type="hidden" name="next" value="{{next}}" />
                    {% endif %}
                    <form name="LoginForm" action="{% url 'account_signup' %}" method="POST">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="usernameInput" class="col-sm-4  col-form-label">Username</label>
                            <div class="col-sm-8">
                                <input type="text" name="username"  autocomplete="username" minlength="1" maxlength="150" required="" id="usernameInput"  class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="emailInput" class="col-sm-4  col-form-label">Email (Optional)</label>
                            <div class="col-sm-8">
                                <input type="email" name="email"  autocomplete="email" id="emailInput" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                                <label for="password1Input" class="col-sm-4 col-form-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" name="password1" class="form-control"  autocomplete="new-password" required="" id="password1Input">
                            </div>
                        </div>
                        <div class="row mb-3">
                                <label for="password2Input" class="col-sm-4 col-form-label">Password Again</label>
                            <div class="col-sm-8">
                                <input type="password" name="password2" class="form-control"  autocomplete="new-password" required="" id="password2Input">
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                        <hr>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>