{% load static %}
<div class="container-fluid">
    <h2 class="text-center"> Found {{size}} Publications</h2> 
     <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for publication in page_obj %}
            <div class="accordion-item">
            {% if forloop.first	%}
            <h1 class="accordion-header" id="flush-heading-{{publication.id}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{publication.id}}" aria-expanded="false" aria-controls="#flush-collapse-{{publication.id}}">
                {{publication.title}}
                </button>
            </h1>
            <div id="flush-collapse-{{publication.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{publication.id}}" data-bs-parent="#accordionFlushExample">
            {%else %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading-{{publication.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{publication.id}}" aria-expanded="false" aria-controls="flush-collapse-{{publication.id}}">
                    {{publication.title}}
                    </button>
                </h2>
                <div id="flush-collapse-{{publication.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{publication.id}}" data-bs-parent="#accordionFlushExample">
            {%endif%}
                <div class="accordion-body">
                    <h4> {{publication.title}} </h4>
                    <h4>{% for author in publication.authors.all %}
                    <span class="badge bg-primary"> {{author.first_name}} {{author.last_name}} </span> 
                    {% endfor %} </h4>
                    <h4 > <span class="badge bg-success"> {{publication.year}} </span></h4>                         
                    <h5 ><span class="badge bg-success"> {{publication.venue.journal}} </span> 
                        <span class="badge bg-success"> {{publication.venue.type}} </span> </h5>
                    {% for keyword in publication.author_keywords.all %}
                    <span class="badge bg-secondary"> {{keyword.name}} </span> 
                    {% endfor %}
                    {% for keyword in publication.index_keywords.all %}
                    <span class="badge bg-secondary"> {{keyword.name}} </span> 
                    {% endfor %}
                    <br>
                    <b>Abstract: </b> {{publication.abstract}} 
                </div>
            </div>
            </div>
        {% endfor%}
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link"  href="?page=1{{search_text}}">&laquo; First </a>
            </li>
        {% if page_obj.has_previous %}
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{search_text}}">Previous</a>
        </li>
        {%else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {%endif%}
        {% for pg in prev_pages %}
            <li class="page-item" aria-current="page">
                <a class="page-link" href="?page={{pg}}{{search_text}}"> {{pg}}</a>
            </li>
        {% endfor %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
        </li>
        {% for pg in next_pages %}
            <li class="page-item" aria-current="page">
                <a class="page-link" href="?page={{pg}}{{search_text}}"> {{pg}}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{{search_text}}">Next</a>
        </li>
        {%else%}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
        {%endif%}   
        <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{{search_text}}">Last &raquo;</a>
        </li>
        </ul>
    </nav>
</div>
