{% load django_helpers %}
<div class="container-fluid">
    <form action="{% url 'field_review' mapping_id=mapping.id list_id=publication_list.id %}" name="review" id="review" method="POST">
        {% csrf_token %}
        <input type="hidden" name="publication_id" value="{{ publication.id }}">
        <div class="row mb-2">
            <div class="col-6 fw-bold">Field</div>
            <div class="col-6 fw-bold">Value</div>
        </div>
        {% for field in review_fields %}
            <div class="row mb-2">
                <label class="col-form-label col-6" for="review_field_{{ field.id }}_{{ publication.id }}">
                    {{ field.name }}
                </label>
                <div class="col-6">
                    {% if field.type == "T" %}
                        <input class="form-control" type="text" value="{% get_field_value field publication %}" id="review_field_{{ field.id }}_{{ publication.id }}" name="review_field_{{ field.id }}">
                    {% elif field.type == "N" %}
                        <input class="form-control" type="number" value="{% get_field_value field publication %}" id="review_field_{{ field.id }}_{{ publication.id }}" name="review_field_{{ field.id }}">
                    {% elif field.type == "C" %}
                        <input class="form-control" type="text" value='{% get_field_value field publication %}' id="review_field_{{ field.id }}_{{ publication.id }}" name="review_field_{{ field.id }}">
                        <!--suppress JSUnresolvedReference (Tagify is imported in publication_review_common.html)-->
                        <script>
                        createTagsInput(document.getElementById("review_field_{{ field.id }}_{{ publication.id }}"));
                        </script>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-success mt-1 w-100">Save</button>
        <hr>
        <b>Comments</b>
        <div class="container">

        </div>
    </form>
</div>