<!-- This file contains code which is common for all publication reviews. The purpose of this file is to load that code only once and not repeatedly for each publication in the list -->
{% load django_helpers %}

<!-- Import Tagify (https://github.com/yairEO/tagify) for implementing "coding" review field -->
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

<style>
.tagify {
    --tag-inset-shadow-size: 50em; /* fix background for multiline tags */
}
</style>
<!--suppress JSUnresolvedReference (Tagify is loaded from CDN, see above) -->
<script>
const existing_codes = {}
{% for field in review_fields %}
    {% if field.type == "C" %}
        existing_codes[{{ field.id }}] = {% coding_codes_list field %}
    {% endif %}
{% endfor %}

function createTagsInput(input, field_id) {
    const tagify = new Tagify(input, {
        whitelist: existing_codes[field_id],
        delimiters: null, // save tag on enter (allow commas in tags)
        dropdown: {
            maxItems: 10, // maximum allowed rendered suggestions
            enabled: 1, // show suggestions when 1 character is entered in the input
        }
    })
}


// Review form submission
function submitForm(event) {
    event.preventDefault();
    const form = event.target;
    const formData = new FormData(form);

    fetch(form.action, {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (response.ok)
            saved(form.id);
        else
            savingFailed(form.id);
    })
    .catch(error => {
        console.log("Error", error);
        savingFailed(form.id);
    });
}

function saved(formId) {
    const saved = document.getElementById(`${formId}_saved`);
    saved.classList.remove("d-none");
    const failed = document.getElementById(`${formId}_failed`);
    failed.classList.add("d-none");

    setTimeout(() => saved?.classList?.add("d-none"), 3000);
}

function savingFailed(formId) {
    const failed = document.getElementById(`${formId}_failed`);
    failed.classList.remove("d-none");
}
</script>
