<h5> Dangerous Area</h5>
<div class="btn-group" role="group">
    {% if available_publication_lists|length > 1 %}
        <form action="{% url 'dashboard_mapping_list_delete' mapping_id=mapping.id list_id=publication_list.id %}" method="POST"
        onsubmit="return confirm('Are you sure to delete the list {{ publication_list }}?');" >
        {% csrf_token %}
            <button type="submit" class="btn btn-warning m-1" name="list_deleted"> Delete the List    </button>
        </form>
    {% endif %}
    {%  include "mapping/forms/delete.html" %}
</div>