<h5> Dangerous Area</h5>
<div class="btn-group" role="group">
    <form action="{% url 'dashboard_review_list_delete' review_id=review.id list_id=publication_list.id %}" method="POST"
    onsubmit="return confirm('Are you sure to delete the list {{ publication_list }}?');" >
    {% csrf_token %}
        <button type="submit" class="btn btn-warning m-1" name="list_deleted"> Delete the List    </button>
    </form>
    <form action="{% url 'dashboard_review_delete' review_id=review.id %}" method="POST"
    onsubmit="return confirm('Are you sure to delete the review {{ review }}) with all its list?');">
    {% csrf_token %}
        <button type="submit" class="btn btn-danger m-1" name="review_deleted">   Delete the review  </button>
    </form>
</div>