<h5> Current Review: {{ review.name }} </h5>
<div class="mb-2 row">
    <label for="selectReview" class="col-sm-6 col-form-label">Change Review</label>
    <div class="col-sm-6">
        <select onchange="location = this.value;" id="selectReview" class="form-select">
             <option value="#" selected>{{ review.name }}</option>
            {% for authorized_review in authorized_reviews %}
                {% if authorized_review != review %}
                     <option value="{% url 'dashboard_review_all_lists' review_id=authorized_review.id %}">{{ authorized_review.name }}</option>
                {% endif %}
            {% endfor %}

        </select>
    </div>
</div>
<div class="btn-group" role="group">
    <button class="btn btn-primary m-1" type="button" data-bs-toggle="collapse" data-bs-target="#newReviewCollapse" aria-expanded="false" aria-controls="newReviewCollapse">
        Add new Review
    </button>
    <button class="btn btn-primary m-1" type="button" data-bs-toggle="collapse" data-bs-target="#joinReviewCollapse" aria-expanded="false" aria-controls="joinReviewCollapse">
        Join a Review
    </button>

</div>
<div class="container">
    <div class="collapse" id="newReviewCollapse">
        <div class="card card-body">
            {% include "review/forms/new.html" %}
        </div>
    </div>
    <div class="collapse" id="joinReviewCollapse">
        <div class="card card-body">
            {% include "review/forms/join.html" %}
        </div>
    </div>
</div>

