<form class="row">
  <div class="col-10">
    <label for="filterTex" class="visually-hidden">Filter</label>
    <input type="text" class="form-control" id="filterTex" placeholder="(title__icontains=performance)"
    value="{{ filter_text }}" name="filter_text" required>  </div>
  <div class="col-2">
    <button type="submit" class="btn btn-primary mb-3">Filter</button>
      <a href="{% url 'publication_list' mapping_id=mapping.id list_id=publication_list.id %}" class="btn btn-secondary mb-3">Clear</a>
  </div>
</form>



