{% load static %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active">
        <img src="{% static 'img/slides/s3.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Team Up</h5>
            <p>Manage your team the way you should.</p>
        </div>
    </div>
      <div class="carousel-item">
        <img src="{% static 'img/slides/s2.jpg' %}" class="d-block w-100 " alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Collect Quickly</h5>
            <p>Find sources and materials quickly and easily.</p>
        </div>
    </div>
      <div class="carousel-item">
        <img src="{% static 'img/slides/s1.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Organize</h5>
            <p>Put things where they should be.</p>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>