{% extends "dashboard/base.html" %}
{% block dashboard %}
    <div class="container p-1">
        <div class="row">
            <h4> You are participating in the following reviews </h4>
            <div class="row">
                <div class="accordion" id="allReviewAccordion">
                {% for review in reviews %}
                    {% if forloop.first %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{review.id}}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{review.id}}" aria-expanded="true" aria-controls="collapse{{review.id}}">
                                {{ review.name }} by {{ review.leader.first_name }}
                                {% if user_preference.default_review == review %}
                                    <span class="badge bg-dark mx-4">default review</span>
                                {% endif %}
                            </button>
                        </h2>
                        <div id="collapse{{review.id}}" class="accordion-collapse collapse show" aria-labelledby="heading{{review.id}}">
                            <div class="accordion-body">
                                {% include "review/all/review_body.html" %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{review.id}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{review.id}}" aria-expanded="false" aria-controls="collapse{{review.id}}">
                                {{ review.name }} by {{ review.leader.first_name }}
                                {% if user_preference.default_review == review %}
                                    <span class="badge bg-dark mx-4">default review</span>
                                {% endif %}
                            </button>
                        </h2>
                        <div id="collapse{{review.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{review.id}}">
                            <div class="accordion-body">
                                {% include "review/all/review_body.html" %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row p-2">
            <h4> Create new Reviews or Join </h4>
            {% include "review/new_join_review.html" %}
        </div>

    </div>
{% endblock %}