
<div class="container">
<h4> <a href="{% url 'dashboard_mapping' mapping_id=mapping.id %}" > {{ mapping.name }} </a>
    </h4>
    <p> {{ mapping.description }}</p>
    <hr>
    <h5> The mapping currently has the following members:</h5>
    <ul class="list-group">
        {% for reviewer in mapping.reviewers.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ reviewer.first_name }}  {{ reviewer.last_name }} ({{ reviewer.username }})
        {% if reviewer == mapping.leader %}
            <span class="badge bg-dark rounded-pill">leader</span>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
    <hr>
    <h5> The mapping currently has the following lists:</h5>
    {% for mapping_id, publication_lists in publication_lists.items %}
        {% if mapping_id == mapping.id %}
            <ul class="list-group">
                {% for publication_list in publication_lists %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a  data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Click to view the list"
                            href="{% url 'dashboard_mapping_list' mapping_id=mapping_id list_id=publication_list.id %}" >
                            {{ publication_list.name }} </a>
                        {% if user_preference.default_list ==  publication_list%}
                        <span class="badge bg-dark rounded-pill">default</span>
                        {% else %}
                            <form action="{% url 'dashboard_all_mappings' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="mapping_id" value="{{ mapping_id }}" />
                                <input type="hidden" name="list_id" value="{{ publication_list.id }}" />
                                <button type="submit" class="btn btn-primary" name="made_default" >
                                        Make Default
                                </button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</div>