<h5 class="text-center mb-1">Review Fields</h5>
{% if review_fields %}
    <form method="POST" action="{% url 'field_edit' mapping_id=mapping.id list_id=publication_list.id %}">
    {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for field in review_fields %}
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="Name" name="field_names" value="{{ field.name }}" aria-label="name">
                            <input type="hidden" name="field_ids" value="{{ field.id }}">
                        </td>
                        <td>
                            <div class="form-control-plaintext">{{ field.get_type_display }}</div>
                        </td>
                        <td>
                            <div class="btn-toolbar btn-group-sm" role="toolbar" aria-label="Field Toolbar with button groups">
                                <button class="btn btn-outline-danger mx-1" type="submit" name="delete_field" value="{{ field.id }}">Delete</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-outline-success mx-1" type="submit" name="edit_fields">Save Changes</button>
    </form>
{% endif %}
<div class="container-fluid bg-success bg-opacity-10 align-middle">
    {% include "mapping/mapping_list/user_fields/new.html" %}
</div>