<form name="ReviewForm" action="{% url 'dashboard_review_new' %}" method="POST">
    {% csrf_token %}
    <p class="text-secondary"> Any name will do, for example "mapping-study", "test", "my work" </p>
      <div class="form-floating mb-2">
        <input type="text" id="nameInput" name="review_name" class="form-control" placeholder="review_name" required />
        <label for="nameInput">Review Name*</label>
      </div>

    <div class="form-floating mb-2">
        <textarea  id="descInput" name="review_description" class="form-control" placeholder="review_description"></textarea>
        <label for="descInput">Description</label>
      </div>

  <!-- Submit button -->
    <div class="d-flex">
        <button type="submit" class="btn btn-success btn-block" name="review_created">Create New Review</button>
    </div>
</form>
