<form method="POST" action="{% url 'field_new' mapping_id=view.kwargs.mapping_id list_id=view.kwargs.list_id %}">
    {% csrf_token %}
    <div class="row mt-3 p-2">
        <div class="col-3 px-1 col-form-label fw-bold">
            Add new field
        </div>

        <div class="col-3">
          <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Name</span>
              <input type="text" class="form-control" placeholder="Field Name" aria-label="Name" aria-describedby="basic-addon1" name="field_name" required maxlength="64">
          </div>
        </div>

        <div class="col-3">
            <select class="form-select" aria-label="Field Type" required name="field_type" >
                <option value="T" selected>Text Field</option>
                <option value="N">Numeric Field</option>
                <option value="B" >Boolean Field</option>
                <option value="S" disabled>Select Field</option>
                <option value="O" disabled>Multi-Select Field</option>
                <option value="C">Coding Field (tags)</option>
            </select>
        </div>
        <div class="col-3">
            <div class="row align-middle">
                <button class="btn btn-outline-success" type="submit" id="button-addon2" name="add_field">Add</button>
            </div>
        </div>
    </div>
</form>
